body {
    font-family: 'Open Sans', sans-serif;
    /* font-size: 1.1em; */
    margin: 0;
    background: #F8F8F8;
}
h1, h2 {
    font-family: 'Roboto', sans-serif;
}
main {
    width: 70vw;
    margin: auto;
    margin-top: 90px;
    min-height: 100vh;
    padding-bottom: 50px;
}
table {
    width: 100%;
    border-collapse:separate;
    border:solid #EEE 1px;
    border-radius: 6px;
    -moz-border-radius:6px;
    background: white;
    /* box-shadow: 1px 1px 4px 2px rgba(200, 200, 200, 0.2); */
}

td, th {
    border-left:solid #EEE 1px;
    border-top:solid #EEE 1px;
    padding: 8px;
    font-size: 0.9em;
    word-wrap: break-word;
    word-break: break-all;
}

th {
    width: 120px;
    text-align: right;
    font-weight: 600;
    color: #222;
    border-left: none;
}
td:first-child {
    border-left: none; 
}
code {
    margin: 20px;
    font-size: 1.2em;
    white-space: pre-wrap;
    /* overflow: hidden; */
    word-wrap: break-word;
    /* width: 70vw; */
}
.hljs {
    background: white;
}
tr:first-child th, tr:first-child td {
    border-top: none; 
}
td {
    color: #555;
}

a, a:visited {
    text-decoration: none;
    color: #53a7e7;
}
a:hover {
    text-decoration: underline;
}
header {
    /* background: #444; */
    margin-bottom: 80px;
    position: fixed;
    height: 60px;
    width: 100vw;
    top: 0px;
    background-image: -webkit-linear-gradient(top, #666, #111);
    box-shadow: 6px 4px 8px 3px rgba(0, 0, 0, 0.25), 
        inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}
header h1 {
    color: white;
    margin: 0px;
    line-height: 60px;
    text-align: center;
    font-size: 1.3em;
}
h2 {
    margin-top: 50px;
    font-size: 1.5em;
}
.fab {
    font-size: 1.2em;
}
.fa-yelp {
    color: #cd2223;
}
.fa-flickr {
    color: #ff0084;
}
.fa-youtube {
    color: #ef1b0d;
}
.fa-twitter {
    color: #53a7e7;
}
.fa-spotify {
    color: #1ed15d;
}


@media (max-width: 800px) {
    main {
        width: 90vw;
    }
}